@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated && User.Identity.GetUserName() == "Admin")
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav navbar-right">
                <li>@Html.ActionLink("商品列表", "Index", "Products", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("管理商品列表", "ManageCloth", "Products", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("管理商品訂單", "ManageOrderList", "Products", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Manage", routeValues: null)" class="nav-link">
                        <!--會員icon-->
                        <div>
                            <i class="fa-regular fa-user fa-xl"></i>
                            <text style="font-size: 90%; color: black; font-weight: bold;">@User.Identity.GetUserName()</text>
                        </div>

                    </a>
                </li>
                <li><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">登出</a></li>
            </ul>
        </div>
    }
}
else if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav navbar-right">

                <li>@Html.ActionLink("商品列表", "Index", "Products", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("上傳衣服", "Create", "Products", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("我的商品", "UploadCloth", "Products", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("我的訂單", "OrderList", "Products", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-item">
                    <a href="@Url.Action("ShoppingCart", "Products")" class="nav-link">
                        <!--購物車icon-->
                        <i class="fa-solid fa-cart-shopping fa-xl"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Manage", routeValues: null)" class="nav-link">
                        <!--會員icon-->
                        <div>
                            <i class="fa-regular fa-user fa-xl"></i>
                            <text style="font-size: 90%; color: black; font-weight: bold;">@User.Identity.GetUserName()</text>
                        </div>

                    </a>
                </li>
                <li><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">登出</a></li>
            </ul>
        </div>
    }
}
else
{
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav navbar-right">
            <li class="nav-item">@Html.ActionLink("註冊", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
            <li class="nav-item">@Html.ActionLink("登入", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
        </ul>
    </div>
}
